CompileFlags:
  Add:
    - -std=c++26
    - -nostdinc++
    - -freflection-latest
    - -fexceptions
    - -frtti
    - --gcc-toolchain=clang-p2996/install
    - -isystemclang-p2996/install/include/c++/v1
    - -isystemclang-p2996/install/include/x86_64-unknown-linux-gnu/c++/v1
    - -I../include
    - -I_deps/catch2-src/src
    - -I_deps/rapidyaml-src/src
    - -I_deps/rapidyaml-src/ext/c4core/src