CompileFlags:
  Add:
    - -std=c++26
    - -nostdinc++
    - -freflection-latest
    - -fexceptions
    - -frtti
    - --gcc-toolchain=bin/clang-p2996/install
    - -isystembin/clang-p2996/install/include/c++/v1
    - -isystembin/clang-p2996/install/include/x86_64-unknown-linux-gnu/c++/v1
    - -Iinclude
    - -Ibin/_deps/catch2-src/src